body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.barraNav {
    background-color: #03203c;
    overflow: hidden;
}


.barraNav a {
    float: left;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.barraNav a:hover {
    background-color: #595b85;
    color: rgb(255, 255, 255);
}

.barraNav h1{
    color:white;
    font-size:50px;
    text-align: center;
}


